div.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  padding-top: 4px;
  font: 12px sans-serif;
  background: darkslategray;
  border: 2px solid black;
  pointer-events: none;
  border-radius: 10px;
}