<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- Custom styles for this template -->
  <link href="../static/css/clean-blog.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group" id="word-input">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Insert the word you wish to see here!
                </span>
              </div>
              <input type="text" name="words" id="words-input" style="width: 100%;" class="mx-auto" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="dropdown mx-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Overview</a>
                <a class="dropdown-item" href="#">2007</a>
                <a class="dropdown-item" href="#">2008</a>
                <a href="" class="dropdown-item">2009</a>
                <a href="" class="dropdown-item">2010</a>
                <a href="" class="dropdown-item">2011</a>
                <a href="" class="dropdown-item">2012</a>
                <a href="" class="dropdown-item">2013</a>
                <a href="" class="dropdown-item">2014</a>
                <a href="" class="dropdown-item">2015</a>
                <a href="" class="dropdown-item">2016</a>
                <a href="" class="dropdown-item">2017</a>
                <button class="">Button</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-secondary text-primary" type="submit" id="submit-words">
          Add word
        </button>
        <button class="btn btn-outline-secondary text-danger" type="submit" id="remove-words">
          Remove word
        </button>
      </div>
      <div class="col-lg-10 col-md-10 mx-auto">
        <div id="lineGraph"></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-10 col-md-10 mx-auto'>
        <h3 id='current-word-bar' class='text-center'>us</h3>
        <div id="bar-graph"></div>
        <div class="input-group" id="word-input-bar">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Insert the word you wish to see here!
            </span>
          </div>
          <input type="text" name="words" id="words-input-bar" style="width: 100%;" class="mx-auto" />
        </div>
        <button class="btn btn-outline-secondary text-primary" type="submit" id="submit-word-bar">
          Change word
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto"></div>
    </div>


  </div>


  <hr />
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/clean-blog.min.js"></script>
  <script src="../static/js/PorterStemmer1980.min.js"></script>
  <script src="../static/js/multiline.js"></script>
  <script src="../static/js/bar.js"></script>
  <script src="../static/js/logic.js"></script>
</body>

</html>